*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
.slider{
   background-color: #f9f9f9;
   margin: 40px auto auto ;
   width: 80%;
}
.slider_slide {
    width: 100%;
    max-width: 900px;
    display: none;
 }
 
 .slider_slide:first-child {
    display: block;
 }
 
 .slider .slider_slides-cont .slider_slide > img {
    height: 350px;
    margin: 20px 150px;
 }
 
 .slider_nav {
    padding: 25px;
    color: #777;
    background: linear-gradient(180deg, royalblue , indigo);
    font-weight: bold;
    font-size: 14px;
    border: #777;
    border-radius: 10px;
    text-align: center;
    
 }
 
 
 .slider_pagination_btn {
    display: inline-block;
    padding: 6px;
    cursor: pointer;
    margin-left: 120px;
    /* Override default button styles */
    border: none;
    outline: none;
    background-color: transparent;
 }
 
 /* Actual pagination circle */
 .slider_pagination_btn:before {
    content: '';
    display: inline-block;
    padding: 6px;
    border-radius: 100%;
    background-color: #ccc;
 }
 
 .slider_pagination_btn:hover:before {
    background-color: #aaa;
 }
 
 .slider_pagination_btn:focus:before {
    background-color: #777;
 }
 
 .slider_pagination_btn.slider_pagination_btn--sel:before {
    background-color: black
 }